@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar-wrapper {
  padding: 10px;
}
.navbar-logo {
  max-width: 200px;
  max-height: 60px;
}

.search-wrapper {
  max-width: 350px;

  border: 2px solid rgb(241, 238, 9);
  /* background: #16a086; */
}

.search-icon {
  margin-left: 10px;
}
.search-input {
  max-width: 300px;
  border: none;
  height: 40px;
  padding: 5px;
  width: 300px;
  background: transparent;
  font-size: 18px;
  color: #000000;
  margin-left: 5px;
  outline: none;
}

.signup-link {
  font-size: 18px;
  color: #16a086;
}

.link-slesh {
  margin: 0 10px;
}
.signup-link:hover {
  text-decoration: none;
  color: rgb(24, 194, 224);
}

.searching-list {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: -10px;
}

.searching-list-item {
  list-style-type: none;
  border: 2px solid #16a086;
  border-radius: 5px;
  padding: 0 10px;
  max-width: 300px;
  color: #ffffff;
  background: #16a086;
  margin: 5px auto;
  cursor: pointer;
}
/* Navbar END*/

/* Categories  */
.categories-item {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

/* Categories  END*/

/* Trending Now */
.title-wrapper {
  padding: 0 30px;
}
.title-line {
  width: 100%;
  height: 2px;
  background: rgb(240, 240, 4);
}

.title {
  margin: 0 30px;
}

.title-text {
  white-space: nowrap;
  font-size: 30px;
}

.carousel {
  margin-top: 60px;
}

.carousel-item-name {
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
}
.corousel-image {
  width: 200px;
}
/* Trending Now END*/

/* Admin Page */

.adminPage-wrapper {
  background: url("/images/admin-page-bg.jpg");
}

.add-product-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 600px;
}

.addProduct-form {
  max-width: 350px;
  padding: 20px;
  text-align: center;
}
.addProduct-input {
  width: 100%;
  height: 50px;
  margin: 5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #38dabc;
  display: inline-block;
  width: 100%;
  margin: 15px auto;
  margin-left: 5px;
  padding: 5px 0;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #16a086;
  cursor: pointer;
}

.addProduct-btn {
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 150px;
  background: #16a086;
  border: none;
  font-size: 18px;
  color: #ffffff;
}
.addProduct-btn:hover {
  background: #38dabc;
}

.error-msg {
  color: red;
  text-align: center;
}

.add-category-wrapper {
  width: 100%;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
}

/* Admin Page END*/

/* Sign Up Page */
.signup-wrapper {
  /* background: url('/images/signup-bg.jpg'); */
}

.signup-form {
  max-width: 400px;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  padding-bottom: 10px;
}
.form-header {
  background: #16a086;
  padding: 30px 20px;
  display: flex;
}
.form-title {
  color: #ffffff;
}

.user-icon {
  font-size: 50px;
  color: #ffffff;
}
.signup-input {
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.signup-btn {
  width: 100%;
  height: 50px;
  text-align: center;
  background: #16a086;
  color: #ffffff;
  border: none;
  font-size: 18px;
  margin-top: 15px;
}

.signup-btn:hover {
  background: #38dabc;
  color: #000000;
}

/* Sign Up Page END*/

/* Login page  */

/* Login page  END*/

/* Product Page */
.product-card {
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
.product-card-img {
  max-width: 250px;
}
.product-card-name {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}
.product-card-price {
  color: #38dabc;
  margin-left: 15px;
}
.product-card-description {
  font-size: 16px;
}

.images-wrapper {
  text-align: center;
  width: 100%;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.general-image {
  width: 100%;
}

.image-list {
  width: 100%;
  margin-top: 60px;
}

.img-list-item {
  max-width: 100px;
  width: 100%;
  margin-left: 30px;
  cursor: pointer;
}

.product-description {
  padding: 0 15px;
}

.pro-name {
  font-size: 30px;
}
.pro-price {
  font-size: 16px;
  color: #16a086;
}
/* Product Page END*/
